
@media (max-width: 600px) {

    /* .app-cards {
        margin-bottom: 3rem !important;
    } */

    .hidden-sm{
        display: none;
    }
    
}

* {
    font-family: 'Alike', serif;
    font-family: 'Comfortaa', cursive;
}

.title-fs {
    font-size: 22px !important;
}

.app-font {
    font-family: 'Alike', serif;
    font-family: 'Comfortaa', cursive;
}
